/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/scss/vars.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
}
// hide Number Input from showing spinner buttons
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}
